node_modules/
bower_components/
*.log

build/
dist/
imports/api/dummyData.js

# DEV KEYS
config.json
imports/api/google-keys.js

# TYPINGS DEFINITION FOR VSCODE
typings
typings.json
jsconfig.json
.eslintrc.js
.idea/
